@model AdvantShop.ViewModel.StaticPage.StaticPageViewModel

<div class="row">
    <div class="col-xs col-p-v root-staticPage-custom">
        <div class="page-title-row">
            <h1 class="staticpage-title page-title" @Html.InplaceMeta(Model.Id, AdvantShop.SEO.MetaType.StaticPage)>@Html.GetPageH1()</h1>
        </div>
        @Html.Action("BreadCrumbs", "Common", new { breadCrumbs = Model.BreadCrumbs })
        <div class="staticpage-content" @Html.InplaceStaticPage(Model.Id, StaticPageInplaceField.PageText)>
            @Html.Raw(Model.Text)
        </div>
        @Html.Action("SocialButtons", "Common")
    </div>
    @if (Model.SubPages.Count > 0)
    {
        <div class="col-xs-3 col-p-v child-staticPage-custom">
            <div class="news-item-r-title">
                @Html.Raw(Model.Title)
            </div>
            @foreach (var page in Model.SubPages)
            {
                <div class="news-categories">
                    <a class="news-menu-link link-text-decoration-none" href="@Url.AbsoluteRouteUrl("StaticPage", new {url = page.UrlPath})">@Html.Raw(page.Title)</a>
                </div>
            }
            <div class="vk-news-block">
                @Html.StaticBlock("Vk")
            </div>
        </div>
    }
</div>
