@using AdvantShop.Web.Admin.ViewModels.Account;
@model ForgotPasswordViewModel
@{
    Layout = "~/Areas/Admin/Views/Account/_AccountLayout.cshtml";
}
@*<h3 class="auth-title m-b-md">@T("Admin.Account.ForgotPassword.Title")</h3>*@
@if (Model.View == EForgotPasswordView.ForgotPassword)
{
    <h3 class="auth-title m-b-md">@T("Admin.Account.ForgotPassword.Title")</h3>
    <p class="auth-text">
        @T("Admin.Account.ForgotPassword.EnterRegEmail")
    </p>
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotpassword_form", @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })
                <div>
                    @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "auth-field", placeholder = T("Admin.Account.ForgotPassword.EnterEmail").ToString(), ng_model = "error.email", required = "" })
                </div>
                <button type="submit" class="btn btn-lg btn-auth block full-width">@T("Admin.Account.ForgotPassword.RecoverPassword")</button>
            }
        </div>
    </div>
}
else if (Model.View == EForgotPasswordView.EmailSent)
{
    <p class="auth-text">
        @T("Admin.Account.ForgotPassword.EmailSent")
    </p>
    <a class="forget-link" href="@Url.Action("Index", "Home")">@T("Admin.Account.ForgotPassword.ToMainPage")</a>
}
else if (Model.View == EForgotPasswordView.PasswordRecovery)
{
    <h3 class="auth-title m-b-md">
        @T(Model.FirstVisit ? "Admin.Account.SetPassword.Title" : "Admin.Account.ForgotPassword.Title")
    </h3>
    <p class="auth-text">
        @T("Admin.Account.ForgotPassword.EnterNewPassword")
    </p>
    <div class="row text-left">
        <div class="col-lg-12">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "passwordrecovery_form", @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, string.Empty, new { @class = "alert alert-danger" })
                <div>
                    @Html.Password("NewPassword", null, new { placeholder = T("Admin.Account.ForgotPassword.NewPassword").ToString(), @class = "auth-field", required = "", ng_model = "error.newPassword", autocomplete = "off" })
                </div>
                <div>
                    @Html.Password("NewPasswordConfirm", null, new { placeholder = T("Admin.Account.ForgotPassword.NewPasswordConfirm").ToString(), @class = "auth-field", required = "", ng_model = "error.newPasswordConfirm", autocomplete = "off" })
                </div>
                <button type="submit" class="btn btn-lg btn-auth block full-width">
                    @T(Model.FirstVisit ? "Admin.Account.SetPassword.ChangePassword" : "Admin.Account.ForgotPassword.ChangePassword")
                </button>
                @Html.HiddenFor(x => x.Email)
                @Html.HiddenFor(x => x.Hash)
                @Html.HiddenFor(x => x.FirstVisit)
            }
        </div>
    </div>
}
else if (Model.View == EForgotPasswordView.RecoveryError)
{
    <p class="auth-text">
        @T("Admin.Account.ForgotPassword.RecoveryError")
    </p>
    <a class="forget-link" href="@Url.Action("Index", "Home")">@T("Admin.Account.ForgotPassword.ToMainPage")</a>
}
else if (Model.View == EForgotPasswordView.PasswordChanged)
{
    <p class="auth-text">
        @T("Admin.Account.ForgotPassword.PasswordChanged")
    </p>
    <a class="forget-link" href="@Url.Action("Index", "Home")">@T("Admin.Account.ForgotPassword.ToMainPage")</a>
}
