@model AdvantShop.Models.User.ForgotPasswordModel

<div class="col-p-v">
    <h1 class="forgot-title page-title">
        @T("User.ForgotPassword.Header")
    </h1>
    @Html.SingleBreadCrumb(T("User.ForgotPassword.Header").ToString())
    @if (Model.View == "forgotpass")
    {
        <div class="row">
            <div class="col-xs-4">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { name = "forgetForm" }))
                {
                    @Html.AntiForgeryToken()
                    <label class="row middle-xs">
                        <span class="col-xs-4">
                            <span class="form-field-name input-required vertical-interval-xsmall">@T("User.ForgotPassword.EnterEmail")</span>
                        </span>
                        <span class="col-xs-8">
                            <span class="form-field-input">@Html.TextBox("email", null, new { @class = "input-small", type = "text", required = "true", data_ng_model = "email", data_ng_model_options = "{ debounce: 600 }", pattern = "^([a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-.]+)|(admin)$" })</span>
                        </span>
                    </label>
                    <div class="row middle-xs">
                        <span class="col-xs-8 col-xs-offset-4">
                            <span class="form-field-input vertical-interval-xsmall">
                                <input type="submit" class="btn btn-action btn-middle" value="@T("User.ForgotPassword.Recover")" data-button-validation />
                            </span>
                        </span>
                    </div>
                }
            </div>
            <div class="col-xs-8">
                <div class="forget-password-note cs-t-3">@Html.StaticBlock("recoverPassword")</div>
            </div>
        </div>
    }
    else if (Model.View == "emailSend")
    {
        <div class="h2">
            @T("User.ForgotPassword.MessageWasSent")
        </div>
        <div>
            <a href="@Url.AbsoluteRouteUrl("Home")">@T("User.ForgotPassword.ToMainPage")</a>
        </div>
    }
    else if (Model.View == "emailSendError")
    {
        <div class="h2">
            @T("User.ForgotPassword.EmailNotFound")
        </div>
        <div>
            <a href="@Url.AbsoluteRouteUrl("Home")">@T("User.ForgotPassword.ToMainPage")</a>
        </div>
    }
    else if (Model.View == "recovery")
    {
        using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { name = "changePasswordForm" }))
        {
            <div class="form-legend">@T("User.ForgotPassword.ChangePassword")</div>
            <label class="row middle-xs">
                <span class="col-xs-2">
                    <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPassword")</span>
                </span>
                <span class="col-xs-4">
                    <span class="form-field-input vertical-interval-xsmall">
                        @Html.Password("newPassword", null, new { autocomplete = "off", @class = "input-small", data_ng_model = "newPassword" })
                    </span>
                </span>
            </label>
            <label class="row middle-xs">
                <span class="col-xs-2">
                    <span class="form-field-name vertical-interval-xsmall">@T("MyAccount.ChangePassword.NewPasswordConfirm")</span>
                </span>
                <span class="col-xs-4">
                    <span class="form-field-input vertical-interval-xsmall">@Html.Password("newPasswordConfirm", null, new { autocomplete = "off", @class = "input-small", data_ng_model = "newPasswordConfirm" })</span>
                </span>
            </label>
            <div class="row middle-xs">
                <span class="col-xs-2 col-xs-offset-2">
                    <span class="form-field-input vertical-interval-xsmall">
                        <input type="submit" class="btn btn-middle btn-action" value="@T("User.ForgotPassword.ChangePassword")" data-button-validation />
                    </span>
                </span>
            </div>
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.RecoveryCode)
        }
    }
    else if (Model.View == "recoveryError")
    {
        <div class="h2">
            @T("User.ForgotPassword.Error")
        </div>
        <div>
            <a href="@Url.AbsoluteRouteUrl("Home")">@T("User.ForgotPassword.ToMainPage")</a>
        </div>
    }
    else if (Model.View == "passwordChanged")
    {
        <div class="h2">
            @T("User.ForgotPassword.PasswordChanged")
        </div>
        <div>
            <a href="@Url.AbsoluteRouteUrl("Home")">@T("User.ForgotPassword.ToMainPage")</a>
        </div>
    }
</div>