@using AdvantShop.FilePath
@model AdvantShop.Web.Infrastructure.Admin.PaymentMethods.BillPaymentModel


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Название компании</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CompanyName, new { ng_model = "paymentMethod.Parameters.CompanyName", @class = "form-control", required = "required", validation_input_text = "Название компании" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Расчетный счет</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.TransAccount, new { ng_model = "paymentMethod.Parameters.TransAccount", @class = "form-control", required = "required", validation_input_text = "Расчетный счет" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Корреспондентский счёт</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.CorAccount, new { ng_model = "paymentMethod.Parameters.CorAccount", @class = "form-control", required = "required", validation_input_text = "Корреспондентский счёт" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Адрес</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Address, new { ng_model = "paymentMethod.Parameters.Address", @class = "form-control", required = "required", validation_input_text = "Адрес" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Телефон</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Telephone, new { ng_model = "paymentMethod.Parameters.Telephone", @class = "form-control", required = "required", validation_input_text = "Телефон" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">ИНН</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.INN, new { ng_model = "paymentMethod.Parameters.INN", @class = "form-control", required = "required", validation_input_text = "ИНН" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            КПП
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.KPP, new {ng_model = "paymentMethod.Parameters.KPP", @class = "form-control"})
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">БИК</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.BIK, new {ng_model = "paymentMethod.Parameters.BIK", @class = "form-control", required = "required", validation_input_text = "БИК" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Название банка</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.BankName, new {ng_model = "paymentMethod.Parameters.BankName", @class = "form-control", required = "required", validation_input_text = "Название банка" })
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Директор</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Director, new {ng_model = "paymentMethod.Parameters.Director", @class = "form-control", required = "required", validation_input_text = "Директор" })
        </div>
    </div>

    
    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Должность директора</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.PosDirector, new { ng_model = "paymentMethod.Parameters.PosDirector", @class = "form-control", required = "required", validation_input_text = "Должность директора" })
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Гл. Бухгалтер</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Accountant, new {ng_model = "paymentMethod.Parameters.Accountant", @class = "form-control", required = "required", validation_input_text = "Гл. Бухгалтер" })
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Должность бухгалтера</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.PosAccountant, new { ng_model = "paymentMethod.Parameters.PosAccountant", @class = "form-control", required = "required", validation_input_text = "Должность бухгалтера" })
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Управляющий</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.Manager, new { ng_model = "paymentMethod.Parameters.Manager", @class = "form-control", required = "required", validation_input_text = "Управляющий" })
        </div>
    </div>

    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Должность управляющего</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.PosManager, new { ng_model = "paymentMethod.Parameters.PosManager", @class = "form-control", required = "required", validation_input_text = "Должность управляющего" })
        </div>
    </div>

    <div class="form-group row">
        <div class="flex-grow-n col-fixed-size-md">Печать
        </div>
        <div class="col-xs-6 relative">
            <bill-stamp method-id="@Model.PaymentMethodId"
                        stamp-img="@Model.StampImageName"
                        stamp-img-src="@(Model.StampImageName != null ? FoldersHelper.GetPath(FolderType.Pictures, Model.StampImageName, false) : null)">
            </bill-stamp>
        </div>
    </div>
