@model AdvantShop.ViewModel.Shared.ColorsViewModel

@if (Model.HeaderText.IsNotEmpty())
{
    <div class="color-viewer-header">
        @Model.HeaderText
    </div>
}
@if (Model.EnabledSlider)
{
    @:<div class="carousel carousel-colors-wrap carousel-colors" data-carousel data-stretch="false" data-init-on-load="true" data-initilaze-to="@Model.InitilazeTo" data-init-fn="@Model.NgInitCarousel">
    @:<div class="carousel-inner">
}
<div class="color-viewer-list js-color-viewer-slider"
     data-colors-viewer
     data-color-selected="@Model.NgColorSelected"
     data-init-colors="@Model.NgInitColors"
     data-change-color="@Model.NgChangeColor"
     data-colors="::@Model.NgColors"
     data-start-selected-colors="@Model.SelectedColors"
     data-color-width="::'@(Model.ColorWidth)px'"
     data-color-height="::'@(Model.ColorHeight)px'"
     data-multiselect="@Model.Multiselect.ToString().ToLower()"
     data-image-type="@Model.ImageType"></div>
@if (Model.EnabledSlider)
{
    @:</div>
    <div class="carousel-nav">
        <button class="carousel-nav-prev"></button>
        <button class="carousel-nav-next"></button>
    </div>
    @:</div>
}