@model AdvantShop.Web.Infrastructure.Admin.ShippingMethods.EmsPostShippingAdminModel



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Город РФ, из которого осуществляется доставка</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.DropDownList("CityFrom", Model.Cities, new { ng_model = "shippingMethod.Params.CityFrom", ng_init = "shippingMethod.Params.CityFrom='" + Model.CityFrom + "'", @class = "form-control", required = "required", validation_input_text = "Город РФ, из которого осуществляется доставка" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Город РФ, из которого осуществляется доставка">
                Город РФ, из которого осуществляется доставка. <br/>
                Проверьте город на сайте <a href="emspost.ru" target="_blank">emspost.ru</a>
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Наценка к цене доставки</span>
        </div>
        <div class="col-xs-6 relative">
            <div class="input-group" ng-init="shippingMethod.Params.DiscountType=@Model.DiscountType.TryParseInt()">
                @Html.TextBoxFor(x => x.ExtraPrice, new { @class = "form-control ng-hide", ng_model = "shippingMethod.Params.ExtraPrice", ng_show = "shippingMethod.Params.DiscountType == 0" })
                @Html.TextBoxFor(x => x.ExtraPrice, new { @class = "form-control ng-hide", ng_model = "shippingMethod.Params.ExtraPrice", ng_show = "shippingMethod.Params.DiscountType == 1" })
                <div class="input-group-btn">
                    <span class="btn btn-default" ng-click="shippingMethod.Params.DiscountType = 0" ng-class="{'product-currency-active':shippingMethod.Params.DiscountType == 0}" data-e2e="DiscountAmount"><span>руб.</span></span>
                    <span class="btn btn-default" ng-click="shippingMethod.Params.DiscountType = 1" ng-class="{'product-currency-active':shippingMethod.Params.DiscountType == 1}" data-e2e="DiscountPercent"><span>%</span></span>
                    @Html.HiddenFor(x => x.DiscountType, new { ng_value = "shippingMethod.Params.DiscountType", ng_model = "shippingMethod.Params.DiscountType" })
                </div>
            </div>
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Наценка к цене доставки">
                Наценка к цене доставки
            </help-trigger>
        </div>
    </div>



    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            <span class="text-required">Вес заказа по умолчанию</span>
        </div>
        <div class="col-xs-6 relative">
            @Html.TextBoxFor(x => x.DefaultWeight, new { ng_model = "shippingMethod.Params.DefaultWeight", @class = "form-control", required = "required", validation_input_text = "Вес заказа по умолчанию" })
            <help-trigger class="ng-cloak help-trigger-icon-abs" data-title="Вес заказа по умолчанию">
                Вес заказа по умолчанию
            </help-trigger>
        </div>
    </div>


    <div class="form-group row middle-xs">
        <div class="flex-grow-n col-fixed-size-md">
            Максимальный вес для доставки
        </div>
        <div class="col-xs-6 relative">
            @Model.MaxWeight
            @Html.HiddenFor(x => x.MaxWeight)
        </div>
    </div>

