@model AdvantShop.Models.BonusSystemModule.GetBonusCardViewModel

<div class="site-body-cell">
    <div class="page-title-row brands-title-row">
        <h1 class="brands-title page-title">@T("Module.BonusSystem.GetBonusCardTitle")</h1>
    </div>
    @Html.Action("BreadCrumbs", "Common", new { breadCrumbs = Model.BreadCrumbs })

    <div class="row">
        <div class="col-xs">
            <div class="site-body-cell-to-center">
                @if (!string.IsNullOrEmpty(Model.BonusTextBlock))
                {
                    <div class="loyalty-txt">
                        @Html.Raw(Model.BonusTextBlock)
                    </div>
                }
                <div class="h2">@T("Module.BonusSystem.GetBonusCardHeader")</div>
                <div data-bonus-reg data-page="loyaltyprogram" data-is-show-patronymic="@SettingsCheckout.IsShowPatronymic.ToString().ToLower()"></div>
            </div>
        </div>
        <div class="right-bonus-column">
            <div class="bonus-img">
                <img src="images/giftcertificate/loyalty_gift.jpg" />
            </div>
            @Html.Raw(Model.BonusRightTextBlock)
            @if (Model.Grades != null && Model.Grades.Count > 0)
            {
                <div>
                    <div class="h2">@T("Module.BonusSystem.CardGrades")</div>
                    @foreach (var grade in Model.Grades)
                    {
                        <div class="loyalty-row">@T("Module.BonusSystem.CardGradesFormat", grade.BonusPercent.ToString("F1") +" %", grade.PurchaseBarrier.ToString("f0"), grade.Name)</div>
                    }
                </div>
            }
            <div>
                @Html.StaticBlock("getbonuscard_bottom")
            </div>
        </div>
    </div>
</div>
