@model AdvantShop.ViewModel.ProductDetails.ProductDetailsViewModel
@using System.Linq;

@{
    var product = Model.Product;
    var offer = Model.Offer;
}

<div id="moveblock" class="row plp-main-baner">
    <div class="col-xs plp-form-timer">

        <h1 class="plp-title col-xs-7" itemprop="name" data-ng-init="product.productName='@Html.AttributeEncode(Html.GetPageH1())'" @Html.InplaceMeta(product.ProductId, AdvantShop.SEO.MetaType.Product)>
            @Html.GetPageH1()
        </h1>

        <div class="plp-callback-form"
             data-buy-one-click-form="true"
             data-page="@AdvantShop.Orders.BuyInOneclickPage.LandingPage"
             data-order-type="@AdvantShop.Core.Services.Orders.OrderType.LandingPage"
             data-offer-id="product.offerSelected.OfferId"
             data-product-id="@product.ProductId"
             data-amount="product.offerSelected.AmountBuy"
             data-attributes-xml="product.customOptions.xml"
             data-fields-options="::{IsShowBuyInOneClickComment: false}"
             data-buy-one-click-valid="product.validate()"
             data-auto-reset="::3000">
        </div>
        <div>
            <div class="t-timer">
                <div class="timer-text">Успей получить подарок!</div>
                @Html.RenderModules("product_info", new { product, offer })
            </div>
        </div>
    </div>

    <div class="col-xs-5 plp-image-wrap">
        <div class="plp-promo-image">
            <div class="pi-image" data-ng-init="product.discount=@product.Discount.Percent.ToString().Replace(",", "."); product.Price.PriceNumber=@Model.FinalPrice.ToString().Replace(",", "."); product.Price.PriceOldNumber=@(offer!= null ? offer.RoundedPrice.ToString().Replace(",", ".") : "0");">

                <div class="plp-price">
                    <span data-ng-bind-html="product.Price.PriceString"></span>
                    <span data-ng-if="product.Price.PriceString == null">@Html.Raw(Model.PreparedPrice)</span>
                    @if (Model.Gifts != null && Model.Gifts.Count > 0)
                    {
                        <div class="plp-sticker-gift">
                            + подарок
                        </div>
                    }
                </div>
                <img src="@(offer != null ? offer.Photo.ImageSrcBig() : product.ProductPhotos.OrderByDescending(item => item.Main).ThenBy(item => item.PhotoSortOrder).FirstOrDefault(item => item.Main).ImageSrcBig())"
                     alt="@Html.GetPageH1()"
                     class="plp-image-big"
                     data-ng-src="{{product.picture.originalPath}}">
            </div>
        </div>

        @if (offer != null)
        {
            <div class="row center-xs">
                @if (product.Offers.Any(x => x.ColorID != null || x.SizeID != null))
                {
                    <div class="text-align-center">
                        @Html.Action("SizeColorPicker", "Product", new { product })
                    </div>
                }
                @if (Model.HasCustomOptions)
                {
                    <div class="">
                        @Html.Action("CustomOptions", "Product", new { productId = product.ProductId })
                    </div>
                }
            </div>
        }
    </div>
</div>
